
@font-face {
    font-family: 'MyFont';
    src: url('./Apple Chancery.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    /*font-family: 'MyFont';*/
    font-size: 35px;
    /*background: url('./icon.png');*/
}